* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Header {
  color: white;
  background-color: rgb(50, 50, 131);
}

.HeaderTop {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header.logo {
  color: #f9faf8;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  max-width: 444px;
}

.title-sub {
  font-size: 18px;
  color: #e5e7eb;
}

.HeaderBody {
  display: flex;
  padding: 100px;
  justify-content: space-around;
}

img {
  max-height: 300px;
  margin-left: 44px;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
}
